<div>
  <section>
    <table mat-table class="student-table" [dataSource]="dataSource">
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        class="element-row"
        (click)="selectStudent(row)"
        [class.row-is-clicked]="isSelectedStudent(row) | async"
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>
  </section>
  <mat-divider></mat-divider>
  <section>
    <form
      class="student-form"
      [formGroup]="studentForm"
      (ngSubmit)="editStudent()"
    >
      <mat-form-field appearance="standard">
        <mat-label>Фамилия ребенка</mat-label>
        <input
          matInput
          placeholder="Фамилия ребенка"
          formControlName="surname"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Имя ребенка</mat-label>
        <input matInput placeholder="Имя ребенка" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Дата рождения</mat-label>
        <input
          matInput
          placeholder="Дата рождения"
          formControlName="birthdate"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Имя отчество родителя</mat-label>
        <input
          matInput
          placeholder="Имя отчество родителя"
          formControlName="parent"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Контактный телефон</mat-label>
        <input
          matInput
          placeholder="Контактный телефон"
          formControlName="phone"
        />
      </mat-form-field>
      <button
        mat-button
        (click)="addStudent()"
        [disabled]="this.isAddUnavailable() | async"
      >
        Добавить обучающегося
      </button>
      <button
        mat-button
        (click)="deleteStudent()"
        [disabled]="this.isDeleteUnavailable() | async"
      >
        Удалить обучающегося
      </button>
      <button
        mat-button
        type="submit"
        [disabled]="this.isEditUnavailable() | async"
      >
        Обновить обучающегося
      </button>
    </form>
  </section>
  <section>
    <label>Журнал ошибок</label>
    <mat-list>
      <mat-divider>
        <mat-list-item *ngFor="let error of this.getErrorsSub() | async">
          {{ error }}
        </mat-list-item>
      </mat-divider>
    </mat-list>
    <label>{{ getErrorsSub() | async }}</label>
  </section>
</div>
