<div class="container">
  <h1>Добро пожаловать в систему управления образовательным учреждением</h1>
  <br />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
      <mat-label>Login: </mat-label>
      <input matInput id="login" type="text" formControlName="login" />
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password: </mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
