<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/" routerLinkActive="active"
      >Система управления образовательным учреждением</a
    >
    <span class="example-spacer"></span>
    <div *ngIf="(user$ | async)?.status">
      <label>Текущий пользователь</label>
      <label>{{ (user$ | async)?.name }} ({{ (user$ | async)?.role }})</label>
      <button mat-icon-button class="example-icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="(user$ | async)?.status">
    <a
      routerLink="/students"
      routerLinkActive="active"
      *ngIf="isAvailable('Обущающиеся') | async"
      >Обущающиеся</a
    >
    <a
      routerLink="/teachers"
      routerLinkActive="active"
      *ngIf="isAvailable('Преподаватели') | async"
      >Преподаватели</a
    >
    <a
      routerLink="/programs"
      routerLinkActive="active"
      *ngIf="isAvailable('Программы обучения') | async"
      >Программы обучения</a
    >
    <a
      routerLink="/lessons"
      routerLinkActive="active"
      *ngIf="isAvailable('Программы обучающихся') | async"
      >Программы обучающихся</a
    >
    <a
      routerLink="/schedule"
      routerLinkActive="active"
      *ngIf="isAvailable('Запись на занятия') | async"
      >Запись на занятия</a
    >
    <a
      routerLink="/receipts"
      routerLinkActive="active"
      *ngIf="isAvailable('Квитанции') | async"
      >Квитанции</a
    >
    <a
      routerLink="/companies"
      routerLinkActive="active"
      *ngIf="isAvailable('Компании') | async"
      >Компании</a
    >
  </mat-toolbar-row>
</mat-toolbar>
